<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.system.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Util</servlet-name>
        <servlet-class>com.login.Util</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.system.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logo</servlet-name>
        <servlet-class>com.system.Logo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.system.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Balance</servlet-name>
        <servlet-class>com.function.Balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellBitCoin</servlet-name>
        <servlet-class>AngularApi.SellBitCoin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>currencyconverter</servlet-name>
        <servlet-class>com.function.currencyconverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUser</servlet-name>
        <servlet-class>AngularApi.AllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellBitcoinOrder</servlet-name>
        <servlet-class>AngularApi.SellBitcoinOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>AngularApi.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>com.function.Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerify</servlet-name>
        <servlet-class>Verifications.EmailVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>converter</servlet-name>
        <servlet-class>com.function.converter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chatbox</servlet-name>
        <servlet-class>AngularApi.Chatbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderUser</servlet-name>
        <servlet-class>AngularApi.CheckOrderUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtransaction</servlet-name>
        <servlet-class>com.function.addtransaction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Util</servlet-name>
        <url-pattern>/Util</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logo</servlet-name>
        <url-pattern>/Logo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Balance</servlet-name>
        <url-pattern>/Balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellBitCoin</servlet-name>
        <url-pattern>/SellBitCoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>currencyconverter</servlet-name>
        <url-pattern>/currencyconverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUser</servlet-name>
        <url-pattern>/AllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellBitcoinOrder</servlet-name>
        <url-pattern>/SellBitcoinOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerify</servlet-name>
        <url-pattern>/EmailVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>converter</servlet-name>
        <url-pattern>/converter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chatbox</servlet-name>
        <url-pattern>/Chatbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderUser</servlet-name>
        <url-pattern>/CheckOrderUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtransaction</servlet-name>
        <url-pattern>/addtransaction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
