<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.system.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Util</servlet-name>
        <servlet-class>com.login.Util</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.system.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logo</servlet-name>
        <servlet-class>com.system.Logo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>com.system.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Balance</servlet-name>
        <servlet-class>com.function.Balance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellBitCoin</servlet-name>
        <servlet-class>AngularApi.SellBitCoin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>currencyconverter</servlet-name>
        <servlet-class>com.function.currencyconverter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUser</servlet-name>
        <servlet-class>AngularApi.AllUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellBitcoinOrder</servlet-name>
        <servlet-class>AngularApi.SellBitcoinOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notification</servlet-name>
        <servlet-class>AngularApi.Notification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>com.function.Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerify</servlet-name>
        <servlet-class>Verifications.EmailVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>converter</servlet-name>
        <servlet-class>com.function.converter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chatbox</servlet-name>
        <servlet-class>AngularApi.Chatbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrderUser</servlet-name>
        <servlet-class>AngularApi.CheckOrderUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addtransaction</servlet-name>
        <servlet-class>com.function.addtransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMargin</servlet-name>
        <servlet-class>AngularApi.SetMargin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creditdebit</servlet-name>
        <servlet-class>AngularApi.creditdebit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transaction_Detail</servlet-name>
        <servlet-class>AngularApi.Transaction_Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrder</servlet-name>
        <servlet-class>AngularApi.CreateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wget</servlet-name>
        <servlet-class>com.system.Wget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrade</servlet-name>
        <servlet-class>AngularApi.GetTrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WalletSetting</servlet-name>
        <servlet-class>AngularApi.WalletSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bitorder</servlet-name>
        <servlet-class>AngularApi.bitorder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>AngularApi.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PendingAnswer</servlet-name>
        <servlet-class>com.support.PendingAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Support_Ticket</servlet-name>
        <servlet-class>com.support.Support_Ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMessage</servlet-name>
        <servlet-class>com.support.SaveMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bitaddress</servlet-name>
        <servlet-class>AngularApi.Bitaddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetGoogleAuth</servlet-name>
        <servlet-class>AngularApi.SetGoogleAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>wallet</servlet-name>
        <servlet-class>AngularApi.wallet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Transactionhistory</servlet-name>
        <servlet-class>AngularApi.Transactionhistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostTrade</servlet-name>
        <servlet-class>AngularApi.PostTrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.system.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newbitaddress</servlet-name>
        <servlet-class>AngularApi.newbitaddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBitaddress</servlet-name>
        <servlet-class>AngularApi.AddBitaddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceivingCallBack</servlet-name>
        <servlet-class>AngularApi.ReceivingCallBack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Util</servlet-name>
        <url-pattern>/Util</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logo</servlet-name>
        <url-pattern>/Logo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Balance</servlet-name>
        <url-pattern>/Balance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellBitCoin</servlet-name>
        <url-pattern>/SellBitCoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>currencyconverter</servlet-name>
        <url-pattern>/currencyconverter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUser</servlet-name>
        <url-pattern>/AllUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellBitcoinOrder</servlet-name>
        <url-pattern>/SellBitcoinOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notification</servlet-name>
        <url-pattern>/Notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerify</servlet-name>
        <url-pattern>/EmailVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>converter</servlet-name>
        <url-pattern>/converter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chatbox</servlet-name>
        <url-pattern>/Chatbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrderUser</servlet-name>
        <url-pattern>/CheckOrderUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addtransaction</servlet-name>
        <url-pattern>/addtransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMargin</servlet-name>
        <url-pattern>/SetMargin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creditdebit</servlet-name>
        <url-pattern>/creditdebit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transaction_Detail</servlet-name>
        <url-pattern>/Transaction_Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrder</servlet-name>
        <url-pattern>/CreateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wget</servlet-name>
        <url-pattern>/Wget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrade</servlet-name>
        <url-pattern>/GetTrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WalletSetting</servlet-name>
        <url-pattern>/WalletSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bitorder</servlet-name>
        <url-pattern>/bitorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PendingAnswer</servlet-name>
        <url-pattern>/PendingAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Support_Ticket</servlet-name>
        <url-pattern>/Support_Ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMessage</servlet-name>
        <url-pattern>/SaveMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bitaddress</servlet-name>
        <url-pattern>/Bitaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetGoogleAuth</servlet-name>
        <url-pattern>/SetGoogleAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wallet</servlet-name>
        <url-pattern>/wallet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transactionhistory</servlet-name>
        <url-pattern>/Transactionhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostTrade</servlet-name>
        <url-pattern>/PostTrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newbitaddress</servlet-name>
        <url-pattern>/newbitaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBitaddress</servlet-name>
        <url-pattern>/AddBitaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceivingCallBack</servlet-name>
        <url-pattern>/ReceivingCallBack</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
